################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RotateArrayBy3PositionsLeft/bin/Debug/net9.0
